#root {
  margin: 0 auto;
  max-width: 64rem;
}

.App {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  max-width: 64rem;
}

.right-block {
  display: grid;
  gap: 1rem;
  padding-inline: 2rem;
  padding-block-start: 1rem;
}

.photo img {
  width: 100%;
  height: auto;
}

.bold,
label {
  font-weight: bold;
}

.formExpierence {
  display: grid;
  gap: 1rem;
}

.formItem {
  display: grid;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
}

input,
textarea {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

form button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  background-color: #fff;
  cursor: pointer;
}

.counter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.counter-value {
  width: 1.3rem;
  text-align: center;
}

.counter button {
  padding: 0.3rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  background-color: #fff;
  cursor: pointer;
}
